@model IQueryable<TAB_VISITA>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#428bca;">Lista de visitas</h2>
<h4>Selecione um paciente para registrar a visita</h4>
<div class="list-group">

    @if(Model.Count() > 0) {

        foreach (var visita in Model)
        {

                <ul class="list-group">
                    <li class="list-group-item">         
                        <img src="https://success.salesforce.com/resource/1463788800000/sharedlayout/img/new-user-image-default.png" style="width:70px; height:70px;float:left; border-radius:20px" />
                        <p><h3 style="padding-left:100px">@visita.TAB_PACIENTE.nom_paciente</h3></p>
                        <p><h4 style="padding-left:100px">Visita para: @visita.dat_visita</h4></p>
                        @if (visita.TAB_PACIENTE.PossuiFormulario)
                        {
                            @Html.ActionLink("Registrar Visita", "Detalhes", "Formulario",new { identifier = visita.cod_paciente, idprofissional = visita.cod_profissional}, new { @class = "btn btn-primary", style= "float:right;margin-top:-50px" })                
                        }
                    </li>
                </ul>

        }
    }
</div>
